@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root
{
    font-size: 16px;
}

*
{
    
    
    font-family: 'Roboto', sans-serif; 
    text-decoration: none;
    list-style-type: none;
}

#logo
{
    width: 5rem;
    transition: 0.2s;
}

header
{
    background-color: #0c0c0c;
    font-size: 1.5rem;
}

.list
{
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.head
{
    margin: 0;
    padding: 0;
    background-color: #17171f;
    
    
}

ul
{
    
    margin: 0;
    margin-left: -2rem;
    padding: 0;
    cursor: context-menu;
    color: white;
    transition: 0.5s;
}

#text
{
    /*color: #6c5ce7;*/
    color:#6a7fdd;
    /*transform: scale(1.1);*/
    
    transition: 0.5s;
}

#text:hover
{
    color:#a9b5ec;
    transform: scale(1.1);
    
    transition: 0.5s;

}


#logo:hover
{
    transform: scale(1.1);
    transition: 0.2s;
}

.container-body
{
    /*margin-top: 12rem;*/
    margin-top: 20rem;
    color: white;
    text-align: center;
    
}

h1
{
    font-size: 5rem;
}

h5
{
    /*color: #9b8ff0;*/
    color: #798bdf;
    
    margin-top: -3%;
    font-size: 2rem;
}

.projects
{
    margin-top: 28rem;
    color:white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.line
{
    /*border: #c1b9f4 solid;*/
    border: #798bdf solid;
    width: 50%;

    border-radius: 1rem;
}

#project
{
    font-size: 2rem;
    font-weight: bold;
}

body::-webkit-scrollbar
{
    width: 0.45rem;
}
body::-webkit-scrollbar-track
{
    background: #121217;
}
body::-webkit-scrollbar-thumb
{
    background: #22222d;
}

body
{
    /*background-color: #0c0c0c;*/
    background-color: #16161d;
    background-color: #14141a;
}

footer
{
    
    color:white;
    text-align: center;
    background-color: #161616;
    opacity: 0.2;
}

#cop
{
    padding-top: 1.5rem;
}

.foot
{
    height: 4rem;
    margin: 0;
    padding: 0;
}

.containerimg img
{
    width: 16rem;
}

#altemoless
{
    font-size: 1.5rem;
}

#discord
{ 
    color: #6c5ce7;
    color: #6a7fdd;
}

#alpha
{
    width: 12rem;
}

#alphatxt
{
    padding-top: 2rem;
}

#altalpha
{
    font-size: 1.5rem;
}

#alphalink
{ 
    color: #6c5ce7;
    color: #6a7fdd;
}

#aboutus
{
    color: #798bdf;
    /*margin-top: 32rem;*/
}

#paboutus
{
    font-size: 1.5rem;
}

.bgcontainer
{
    height: 20rem;
    margin-top: 32rem;
    background-color: #15151c;
}

.pbgcontainer
{
    
    margin-top: 32rem;
    background-color: #15151c;
}

#logoopeno
{
    height: 30rem;
    position: absolute;
    display: flex;
    margin: auto; 
}

.logocenter
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

